<mat-card class="project-card">
	<img mat-card-image src="https://picsum.photos/300/240">
	<mat-card-header>
		<mat-card-title>{{ project.name | titlecase }}</mat-card-title>
		<mat-card-subtitle>Get this from package.json?</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>
      Get this from package.json?
		</p>
	</mat-card-content>
	<mat-card-actions>
		<a [routerLink]="['/projects', project.name]" mat-stroked-button>Details</a>
		<button mat-stroked-button (click)="clicked.emit(project)">Edit</button>
		<button mat-flat-button color="warn" (click)="deleted.emit(project)">Delete</button>
	</mat-card-actions>
</mat-card>
