<mat-card class="project-card">
	<img mat-card-image src="http://placeimg.com/640/480/arch/grayscale">
	<mat-card-header>
		<mat-card-title>Recycle Styleguide</mat-card-title>
		<mat-card-subtitle>Bebat/Fostplus</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		</p>
	</mat-card-content>
	<mat-card-actions>
		<button mat-stroked-button>Details</button>
		<button mat-stroked-button>Edit</button>
	</mat-card-actions>
</mat-card>