<mat-tab-group dynamicHeight>
  <ng-container *ngFor="let type of types">
    <mat-tab [label]="type.title">
      <ng-template matTabContent>
        <div class="flex-grid__item" *ngFor="let item of type.items">
          <howto-type-card [type]="item" (clicked)="handleTypeClicked($event)"></howto-type-card>
        </div>
  
        <div class="flex-grid__item" *ngIf="!type.items.length">
          <mat-card class="type-card">
            <mat-card-content>
              <p>{{ type.emptyMessage }}</p>
            </mat-card-content>
          </mat-card>
        </div>
  
        <div class="flex-grid__item">
          <button mat-raised-button color="primary" (click)="addType(type.type)">
            <mat-icon>add</mat-icon>
            {{ type.addMessage }}
          </button>
        </div>
      </ng-template>
    </mat-tab>
  </ng-container>
</mat-tab-group>