<mat-tab-group dynamicHeight *ngIf="!deleting; else deletingTpl">
  <mat-tab label="Overview">
    <mat-card>
      <mat-card-content>
        <mat-form-field appearance="outline" title="Not editable in demo version!" class="u-full-width">
          <mat-label>Folder location</mat-label>
          <input matInput [value]="project?.location" readonly />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions class="overview-actions">
        <button mat-raised-button color="primary" (click)="handleProjectClicked(project)">Open in Visual Studio Code</button>
		    <button mat-flat-button color="warn" (click)="handleProjectDeleted(project)">Delete</button>
      </mat-card-actions>
    </mat-card>
  </mat-tab>
  <ng-container *ngFor="let type of types">
    <mat-tab [label]="type.title">
      <ng-template matTabContent>
        <div class="flex-grid__item" *ngFor="let item of type.items">
          <howto-type-card [type]="item" (clicked)="handleTypeClicked($event)"></howto-type-card>
        </div>

        <div class="flex-grid__item" *ngIf="!type.items.length">
          <mat-card class="type-card">
            <mat-card-content>
              <p>{{ type.emptyMessage }}</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="flex-grid__item">
          <button mat-raised-button color="primary" (click)="addType(type.type)">
            <mat-icon>add</mat-icon>
            {{ type.addMessage }}
          </button>
        </div>
      </ng-template>
    </mat-tab>
  </ng-container>
</mat-tab-group>

<ng-template #deletingTpl>
  <div class="flex-grid flex-grid--centered">
    <div class="flex-grid__item">
      <p class="mat-body">Deleting the project...</p>
      <howto-loader></howto-loader>
    </div>
  </div>
</ng-template>
