<mat-tab-group dynamicHeight>
	<mat-tab label="Component" *ngIf="componentEditor.enabled">
		<ng-template matTabContent>
			<ngx-monaco-editor class="editor" [options]="componentEditor" [(ngModel)]="componentEditor.content"></ngx-monaco-editor>
		</ng-template>
	</mat-tab>
	<mat-tab label="Template" *ngIf="templateEditor.enabled">
		<ng-template matTabContent>
			<ngx-monaco-editor class="editor" [options]="templateEditor" [(ngModel)]="templateEditor.content"></ngx-monaco-editor>
		</ng-template>
	</mat-tab>
	<mat-tab label="Styles" *ngIf="stylesEditor.enabled">
		<ng-template matTabContent>
			<ngx-monaco-editor class="editor" [options]="stylesEditor" [(ngModel)]="stylesEditor.content"></ngx-monaco-editor>
		</ng-template>
	</mat-tab>
</mat-tab-group>
<mat-toolbar color="accent" class="bottom-toolbar">
  <mat-toolbar-row>
    <button mat-button (click)="saveType()">
      Save
    </button>
  </mat-toolbar-row>
</mat-toolbar>
