<div class="flex-grid">
	<div class="flex-grid__item">
		<howto-project-card></howto-project-card>
	</div>
	<div class="flex-grid__item">
		<howto-project-card></howto-project-card>
	</div>
	<div class="flex-grid__item">
		<howto-project-card></howto-project-card>
	</div>

	<div class="flex-grid__item">
		<howto-project-card></howto-project-card>
	</div>
</div>

<div class="flex-grid--centered">
  <div class="flex-grid__item">
    <button mat-raised-button color="primary" (click)="addProject()">Add project</button>
  </div>
</div>
