html, body {
	padding: 0;
	margin: 0;
}

.flex-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.flex-grid__item {
	padding: 1rem;
	width: calc(25% - 2rem);
	flex-shrink: 0;
}
