<ng-container *ngIf="project; else loadingTpl">
  <mat-toolbar>
    <a mat-button [routerLink]="['/projects']">projects</a>
    <mat-icon>arrow_right</mat-icon>
    <a mat-button [routerLink]="['/projects', project.name]">{{project.name}}</a>
    <ng-container *ngIf="route.snapshot.params.type as type">
      <mat-icon>arrow_right</mat-icon>
      <a mat-button [routerLink]="['/projects', project.name, type]">{{type}}s</a>
    </ng-container>
    <ng-container *ngIf="route.snapshot.params.id as id">
      <mat-icon>arrow_right</mat-icon>
      <a mat-button [routerLink]="['/projects', project.name, type, id]">{{id}}s</a>
    </ng-container>
  </mat-toolbar>

  <router-outlet></router-outlet>
</ng-container>

<ng-template #loadingTpl>
  <howto-loader></howto-loader>
</ng-template>
